*, *::before, *::after {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body, #root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

body, input, textarea, button, select, span {
    font-size: 15px;
    font-family: "HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #333;
    line-height: 1.6
}

/* h1, h2, h3, h4, h5, h6, {
    font-family: TimesNewRoman,"Times New Roman",Times,Baskerville,Georgia,serif;
    font-weight: 400;
    text-rendering: optimizeLegibility;
    margin: 0 0 1em;
    line-height: 1.4;
    color: #333
} */

h3 {
    font-size: 1.26667em
}

a {
    color: #333;
    text-decoration: none
}

a:hover,a:focus {
    opacity: 0.7
}

input, select {
    border-radius: 5px;
    max-width: 100%;
    background-color: #f4f4f4;
    border: 0;
    padding: 8px
}

.content {
    flex: 1 0 auto;
    background-color: #e4dfdf;
}

.container {
    padding: 15px 15px 0 15px;
}

.error-message {
    color: red;
}

@media only screen and (min-width : 768px) {
    .container {
        padding: 20px 20px 0;
    }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
    .container {
        padding: 0 10%;
    }
}
